/* MusicUploader.css */
.upload-container {
  background-color: #2e2c2c;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1500px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.upload-components {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
}

.upload-components h2 {
  text-align: center;
  width: 60%;
  margin: 20px auto;
  margin-bottom: 20px;
}

.upload-components p {
  margin: 0;
}

.upload-components input[type="file"],
.upload-components input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 20px auto;
  margin-top: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.upload-components button {
  width: 100%;
  padding: 10px;
  background-color: #00ff00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.upload-container input {
  color: #fff;
  background-color: #2e2c2c;
}

.upload-container input[type="text"]::placeholder {
  color: #aaa; /* Change this color to your desired placeholder color */
}

.upload-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.upload-container button:hover:not(:disabled) {
  transform: scale(1.01);
  background-color: #68ff68;
}

.upload-container .now-playing {
  margin-top: 20px;
  text-align: center;
}

.upload-container .now-playing img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.upload-container .now-playing p {
  margin: 5px 0;
  color: #333;
}

.upload-container audio {
  width: 100%;
  margin-top: 10px;
}
