/* MusicPlayer.css */
.music-player {
  grid-area: music-player;
  background-color: #2b2b2b;
  padding: 20px;
  display: grid;
  grid-template-areas:
    "currently-playing playback-controls additional-controls"
    "currently-playing progress-bar additional-controls";
  grid-template-columns: 300px auto 400px;
  column-gap: 10px;
  align-items: center;
}

.currently-playing {
  grid-area: currently-playing;
  display: flex;
  width: 300px;
  height: 90px;
  justify-content: center;
  align-items: center;
}

.currently-playing img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

.playback-controls {
  grid-area: playback-controls;
  display: flex;
  justify-content: center;
}

.playback-controls button {
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: none;
  color: #fff;
  margin: 0 10px;
  cursor: pointer;
}

.playback-controls button.active {
  background-color: #00ff00; /* Green background for active state */
  color: #000; /* Black icon color for active state */
}

.progress-bar {
  grid-area: progress-bar;
  display: flex;
  align-items: center;
  width: 100%;
}

.progress-bar .bar {
  width: 100%;
  height: 5px;
  background-color: #555;
  border-radius: 5px;
  margin: 0 10px;
  position: relative;
}

.progress-bar .progress {
  width: 50%;
  height: 100%;
  background-color: #00ff00;
  border-radius: 5px;
}

.additional-controls {
  grid-area: additional-controls;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.additional-controls button {
  background-color: transparent;
  border: none;
  color: #fff;
  margin: 0 10px;
  cursor: pointer;
}

.volume-control {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.volume-control i {
  margin-right: 10px;
}

.volume-control input[type="range"] {
  width: 100px;
  -webkit-appearance: none;
  appearance: none;
  background: #444;
  height: 5px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.volume-control input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #00ff00; /* Green color for the track */
  border-radius: 5px;
}

.volume-control input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  margin-top: -2.5px; /* Center the thumb */
}

.volume-control input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  background: #00ff00; /* Green color for the track */
  border-radius: 5px;
}

.volume-control input[type="range"]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
}
