/*Main Layout*/

body {
  font-family: "Montserrat", Arial, sans-serif;
  background-color: #0a0d14;
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  color: #fff;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
